In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("dataset/vgsales.csv")

In [5]:
df.groupby("Name")[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sum().sort_values(by=['Global_Sales'],ascending=[False]).head(5).reset_index()

                 Name  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0          Wii Sports     41.49     29.02      3.77         8.46         82.74
1  Grand Theft Auto V     23.46     23.04      1.39         8.03         55.92
2   Super Mario Bros.     32.48      4.88      6.96         0.99         45.31
3              Tetris     26.17      2.95      6.03         0.69         35.84
4      Mario Kart Wii     15.85     12.88      3.79         3.31         35.82